<footer class="bg-gray-800 w-full mt-auto">
    <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <p class="text-base text-gray-400">&copy; 2025 Face Recognition App. Made by <a href="https://github.com/dedinopriadi" class="text-blue-400 hover:underline" target="_blank">Dedi Nopriadi</a></p>
        </div>
    </div>
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
        kofiWidgetOverlay.draw('dedinopriadi', {
            'type': 'floating-chat',
            'floating-chat.donateButton.text': 'Support me',
            'floating-chat.donateButton.background-color': '#00b9fe',
            'floating-chat.donateButton.text-color': '#fff'
        });
    </script>
</footer> 